# Git
.git
.gitignore
.github

# Docker
.docker
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Cache
/cache

# Documentation
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
